<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task</title>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {{ my_form.media }}
</head>
<body>
    <h2>Edit An Existing Task!</h2>
    <div style="margin: auto; width: 40%; border-style: groove; padding: 30px;">
        <form method="POST" class="post-form">{% csrf_token %}
            {% bootstrap_form my_form %}     
            <button type="submit" class="save btn btn-primary">Update This Task</button>
        </form>
    </div>
    <div style="margin-bottom: 20px;"></div>
</body>
</html>