<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Home</title>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body>
    <h1 style="margin-left: 20px;">ToDo Home Page</h1>
    <button class="btn btn-primary" onclick="window.location.href='/create_task'" style="margin-left: 20px;"> <i class="fa fa-plus"></i> Add A New Task </button>
    <div class="card" style="border-style: groove; border-radius: 30px; padding: 20px; margin: 20px;">
        <table class="table">
            {% for i in my_data %}
            <tr class="card" style="margin: auto;">
                    <td style="width:60%; border:1px solid black; border-radius: 30px; padding: 20px;">
                        <h3>{{i.title}}</h3>
                        <p>{{i.description}}</p>
                        <p>Start date: {{i.start_date}}</p>
                        <p>End date: {{i.end_date}}</p>
                        <p>By: {{i.user}}</p>
                        <p>Task Status: 
                            {% if i.is_completed %}
                                Completed
                            {% else %}
                                Pending
                            {% endif %}
                        </p>
                    </td>
                    <td style="border:1px solid black; text-align: center;">
                        {% if i.is_completed %}
                            <button onclick="window.location.href='/complete_task/{{i.id}}'" class="btn btn-secondary"> <i class="fa fa-check"></i> 
                                Mark as Pending
                            </button>
                        {% else %}
                            <button onclick="window.location.href='/complete_task/{{i.id}}'" class="btn btn-warning"> <i class="fa fa-check"></i> 
                                Mark as Completed
                            </button>
                        {% endif %}
                    </td>
                    <td style="border:1px solid black; text-align: center;">
                        <button onclick="window.location.href='/edit_task/{{i.id}}'" class="btn btn-success"> <i class="fa fa-edit"></i> Edit Task</button>
                    </td>
                    <td style="border:1px solid black; text-align: center;">
                        <button onclick="window.location.href='/delete_task/{{i.id}}'
                        alert('Task Was Successfully Deleted')" class="btn btn-danger"> <i class="fa fa-trash"></i> Delete Task</button>
                    </id>
                </tr>
            {% endfor %}
        </table>
        {% if not my_data %}
            <h5 style="margin: auto;">No Tasks Added Yet!</h5>
        {% endif %}
    </div>
</body>
</html>